<!DOCTYPE html>
<html lang="en">
{{>header}}

<body>
  <header>
    <div class="container p-3">
      <h1 style="color: #ff006c">Futuristic Scholars</h1>
    </div>
{{>navbar}}

  </header>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 top-col"></div>
      <div class="col-12 col-md-4 top-col"></div>
      <div class="col-12 col-md-4 top-col"></div>
    </div>
  </div>


  {{>footer}}
</body>

</html>