
{{>header}}

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 top-col"> </div>
      <div class="col-12 col-md-4 top-col p-0 d-flex align-items-center">
        {{>carousel}}

      </div>
      <div class="col-12 col-md-4 top-col"></div>
    </div>
  </div>

  {{>footer}}

</body>
