<!DOCTYPE html>
<html lang="en">
{{>header}}

<body>
  <!-- header -->
  {{!-- <header>
    <div class="row">
      <div class="col-8">
        <div class="container">
          <h1 style="color: #ff006c">Futuristic Scholars</h1>
        </div>
      </div>
    </div>
  </header> --}}
  <header>
    <div class="container p-3">
      <h1 style="color: #ff006c">Futuristic Scholars</h1>
    </div>
  </header>

  <div class="container">
    {{!-- <div class="row">
      <div class="col-12 col-sm-4 top-col"></div>
      <div class="col-12 col-sm-4 top-col"></div>
      <div class="col-12 col-sm-4 top-col"></div>
    </div> --}}
    <div class="row">
      <div class="col-12 col-md-4 top-col"></div>
      <div class="col-12 col-md-4 top-col"></div>
      <div class="col-12 col-md-4 top-col"></div>
    </div>
  </div>


  {{>footer}}
</body>

</html>