<!DOCTYPE html>
<html lang="en">
{{>header}}
<link rel="stylesheet" href="/public/css/bootstrap.min.css">
<link rel="stylesheet" href="/public/css/style.css">

<body>
  <header>
    <div class="container p-3">
      <h1 style="color: #ff006c">Futuristic Scholars</h1>
    </div>
    {{>navbar}}

  </header>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 top-col"> </div>
      <div class="col-12 col-md-4 top-col"></div>
      <div class="col-12 col-md-4 top-col"></div>
    </div>
  </div>
  {{>carasoul}}

  {{>footer}}

  <script src="public/js/bootstrap.bundle.min.js"></script>
  <script src="public/js/bootstrap.min.js"></script>
</body>

</html>